lxml
mkdocs
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-material
mkdocs-minify-plugin
mkdocs-redirects
mkdocs-swagger-ui-tag