{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %} {{ super() }}

<style>
  .md-header {
    position: initial;
  }

  .md-main__inner {
    margin: 0;
  }

  .md-content {
    display: none;
  }

  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }
</style>

<!-- Hero for landing page -->
<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
      <div class="mdx-hero__image">
        <img src="assets/code_thinking.png" alt="" width="1659" height="1200" draggable="false" />
      </div>
      <div class="mdx-hero__content">
        <h1>{{ config.site_name }}</h1>
        <p>{{ config.site_description }}</p>
        <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}"
          class="md-button md-button--primary">
          Let's Code !
        </a>
        <a href="{{ 'https://prepverse.github.io' | url }}" title="PrepVerse" class="md-button">
          Back to PrepVerse
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}

<!-- Content Section -->
{% block content %}{% endblock %}

<!-- Footer Section -->
{% block footer %}{% endblock %}